<div class="container">
    <div class="row"> <h1>  {{title}}  </h1> </div>
    <div class="row">
        <alert type="success">
            Bootstrap Enabled : https://github.com/valor-software/ng2-bootstrap#getting-started -> 
            https://github.com/valor-software/ng2-bootstrap/blob/development/docs/getting-started/ng-cli.md
        </alert>
    </div>
    <div class="row"><app-parent-component></app-parent-component></div>
    <div class="row"><app-data-binding></app-data-binding></div>
    <div class="row"><app-life-cycle></app-life-cycle></div>
    <div class="row"><app-parent></app-parent></div>
    <div class="row"><app-custom-events></app-custom-events></div>
    <div class="row"><app-templates></app-templates></div>
    <div class="row"><app-mouse></app-mouse></div>
    <div class="row"><app-drag-drop></app-drag-drop></div>
    <div class="row"><app-keyboard></app-keyboard></div>
    <div class="row"><app-directives></app-directives></div>
</div>